Repository Discord4J/Discord4J, pull requests merged in 2019-11, with the labels that each got.

#581 Defer reading HTTP response body
  rest/src/main/java/discord4j/rest/http/EmptyReaderStrategy.java
  rest/src/main/java/discord4j/rest/http/FallbackReaderStrategy.java
  rest/src/main/java/discord4j/rest/http/JacksonReaderStrategy.java
  rest/src/main/java/discord4j/rest/http/ReaderStrategy.java
  rest/src/main/java/discord4j/rest/http/WriterStrategy.java
  rest/src/main/java/discord4j/rest/http/client/ClientRequest.java
  rest/src/main/java/discord4j/rest/http/client/ClientResponse.java
  rest/src/main/java/discord4j/rest/http/client/DiscordWebClient.java
  rest/src/main/java/discord4j/rest/request/DefaultRouter.java
  rest/src/main/java/discord4j/rest/request/DiscordWebRequest.java
  rest/src/main/java/discord4j/rest/request/DiscordWebResponse.java
  rest/src/main/java/discord4j/rest/request/RequestCorrelation.java
  rest/src/main/java/discord4j/rest/request/RequestStream.java
  rest/src/main/java/discord4j/rest/request/RouteMatcher.java
  rest/src/main/java/discord4j/rest/request/Router.java
  rest/src/main/java/discord4j/rest/response/EmptyResponseTransformer.java
  rest/src/main/java/discord4j/rest/response/ResponseFunction.java
  rest/src/main/java/discord4j/rest/response/ResumingTransformer.java
  rest/src/main/java/discord4j/rest/response/RetryingTransformer.java
  rest/src/main/java/discord4j/rest/route/Route.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/ApplicationService.java
  rest/src/main/java/discord4j/rest/service/AuditLogService.java
  rest/src/main/java/discord4j/rest/service/ChannelService.java
  rest/src/main/java/discord4j/rest/service/EmojiService.java
  rest/src/main/java/discord4j/rest/service/GatewayService.java
  rest/src/main/java/discord4j/rest/service/GuildService.java
  rest/src/main/java/discord4j/rest/service/InviteService.java
  rest/src/main/java/discord4j/rest/service/UserService.java
  rest/src/main/java/discord4j/rest/service/VoiceService.java
  rest/src/main/java/discord4j/rest/service/WebhookService.java
  rest/src/test/java/discord4j/rest/http/RouterTest.java
  rest/src/test/java/discord4j/rest/http/WebClientTest.java
Labels: API change, area/rest, enhancement

#577 Use unknown value in enums for forward-compatibility
  core/src/main/java/discord4j/core/object/Embed.java
  core/src/main/java/discord4j/core/object/PermissionOverwrite.java
  core/src/main/java/discord4j/core/object/audit/ActionType.java
  core/src/main/java/discord4j/core/object/entity/Channel.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/object/presence/Status.java
  core/src/main/java/discord4j/core/object/util/Image.java
Labels: area/core, enhancement

#576 Support missing activity fields
  core/src/main/java/discord4j/core/object/data/stored/RichActivityBean.java
  core/src/main/java/discord4j/core/object/presence/Activity.java
  gateway/src/main/java/discord4j/gateway/json/response/GameResponse.java
Labels: area/core, feature request

#589 Update streaming activity documentation
  core/src/main/java/discord4j/core/object/presence/Activity.java
Labels: area/core, documentation

#591 Add message_id to optional audit entry info
  core/src/main/java/discord4j/core/object/audit/OptionKey.java
  core/src/main/java/discord4j/core/util/AuditLogUtil.java
  rest/src/main/java/discord4j/rest/json/response/AuditLogEntryOptionsResponse.java
Labels: area/core, enhancement

#592 Add missing audit log change keys
  core/src/main/java/discord4j/core/object/audit/ChangeKey.java
Labels: area/core, enhancement

#594 Add the new audit log events
  core/src/main/java/discord4j/core/object/audit/ActionType.java
Labels: area/core, enhancement

#593 Add member to reaction add event
  core/src/main/java/discord4j/core/event/dispatch/MessageDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/message/ReactionAddEvent.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/MessageReactionAdd.java
Labels: area/core, area/gateway, enhancement
