Repository Discord4J/Discord4J, pull requests merged in 2019-12, with the labels that each got.

#599 Make TextChannel#isNsfw public
  core/src/main/java/discord4j/core/object/entity/channel/TextChannel.java
Labels: bug

#597 Add new message flags
  common/src/main/java/discord4j/common/json/GuildMemberResponse.java
  core/src/main/java/discord4j/core/object/entity/Message.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/MessageReactionAdd.java
Labels: area/core, enhancement

#598 Add member and guild id to starting type event
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/channel/TypingStartEvent.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/TypingStart.java
Labels: area/core, enhancement

#602 Add premium_since field to Member Update Event
  core/src/main/java/discord4j/core/event/dispatch/GuildDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/guild/MemberUpdateEvent.java
  core/src/main/java/discord4j/core/object/data/stored/MemberBean.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/GuildMemberUpdate.java
Labels: area/core, area/gateway, enhancement

#600 Add premium_since and nick fields to presence update event
  gateway/src/main/java/discord4j/gateway/json/dispatch/PresenceUpdate.java
Labels: area/gateway, enhancement

#603 Update invite fields
  core/src/main/java/discord4j/core/object/ExtendedInvite.java
  core/src/main/java/discord4j/core/object/Invite.java
  core/src/main/java/discord4j/core/object/data/ExtendedInviteBean.java
  core/src/main/java/discord4j/core/object/data/InviteBean.java
  rest/src/main/java/discord4j/rest/json/response/InviteResponse.java
Labels: API change, area/core, area/rest, enhancement

#604 Update invite request fields
  core/src/main/java/discord4j/core/spec/InviteCreateSpec.java
  rest/src/main/java/discord4j/rest/json/request/InviteCreateRequest.java
  rest/src/test/java/discord4j/rest/service/ChannelServiceTest.java
Labels: area/core, area/rest, enhancement
