Repository Discord4J/Discord4J, pull requests merged in 2019-10, with the labels that each got.

#567 Update voice state fields
  core/src/main/java/discord4j/core/object/VoiceState.java
  core/src/main/java/discord4j/core/object/data/stored/VoiceStateBean.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/GuildCreate.java
  gateway/src/main/java/discord4j/gateway/json/response/VoiceStateResponse.java
Labels: area/core, area/gateway, enhancement

#551 Support missing message fields
  common/src/main/java/discord4j/common/json/MessageReferenceResponse.java
  common/src/main/java/discord4j/common/json/MessageResponse.java
  core/src/main/java/discord4j/core/object/MessageReference.java
  core/src/main/java/discord4j/core/object/data/stored/MessageBean.java
  core/src/main/java/discord4j/core/object/data/stored/MessageReferenceBean.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/object/util/Permission.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/MessageCreate.java
  rest/src/main/java/discord4j/rest/json/request/SuppressEmbedsRequest.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/ChannelService.java
Labels: area/core, enhancement

#570 Change return type of ClientException#getErrorResponse
  rest/src/main/java/discord4j/rest/http/client/ClientException.java
  rest/src/test/java/discord4j/rest/service/UserServiceTest.java
Labels: API change, area/rest

#574 Change return type of getResponseTime to Duration
  core/src/main/java/discord4j/core/DiscordClient.java
  gateway/src/main/java/discord4j/gateway/DefaultGatewayClient.java
  gateway/src/main/java/discord4j/gateway/GatewayClient.java
  gateway/src/main/java/discord4j/gateway/PayloadHandlers.java
Labels: API change, area/gateway

#569 Remove revoked field
  core/src/main/java/discord4j/core/object/ExtendedInvite.java
  core/src/main/java/discord4j/core/object/data/ExtendedInviteBean.java
  rest/src/main/java/discord4j/rest/json/response/InviteResponse.java
Labels: API change, area/core

#572 Add UNKNOWN activity type
  core/src/main/java/discord4j/core/object/presence/Activity.java
Labels: area/core, enhancement

#568 Use reactive return types in GlobalRateLimiter
  rest/src/main/java/discord4j/rest/request/GlobalRateLimiter.java
  rest/src/main/java/discord4j/rest/request/PoolGlobalRateLimiter.java
  rest/src/main/java/discord4j/rest/request/RateLimitRetryOperator.java
  rest/src/main/java/discord4j/rest/request/RequestStream.java
  rest/src/main/java/discord4j/rest/request/SemaphoreGlobalRateLimiter.java
Labels: API change, area/rest, enhancement
