Repository Discord4J/Discord4J, pull requests merged in 2019-06, with the labels that each got.

#538 Improve support for configuring shard-aware stores
  core/src/main/java/discord4j/core/shard/ShardAwareStore.java
  core/src/main/java/discord4j/core/shard/ShardAwareStoreService.java
  core/src/main/java/discord4j/core/shard/ShardingClientBuilder.java
  core/src/test/java/discord4j/core/StoreBotTest.java
Labels: core, enhancement

#539 Support for new values in boost feature
  common/src/main/java/discord4j/common/json/GuildMemberResponse.java
  common/src/main/java/discord4j/common/json/MessageMember.java
  core/src/main/java/discord4j/core/object/data/stored/BaseGuildBean.java
  core/src/main/java/discord4j/core/object/data/stored/GuildBean.java
  core/src/main/java/discord4j/core/object/data/stored/MemberBean.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/Member.java
  core/src/main/java/discord4j/core/object/entity/Message.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/GuildCreate.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/GuildUpdate.java
  rest/src/main/java/discord4j/rest/json/response/GuildResponse.java
Labels: core, enhancement

#541 Add docs for voice kick to setNewVoiceChannel
  core/src/main/java/discord4j/core/spec/GuildMemberEditSpec.java
Labels: core, documentation

#544 Fix for duplicate members
  core/src/main/java/discord4j/core/object/data/stored/GuildBean.java
Labels: core

#542 Improvement in docs for limits and another discord docs
  core/src/main/java/discord4j/core/spec/GuildMemberEditSpec.java
  core/src/main/java/discord4j/core/spec/TextChannelEditSpec.java
Labels: core, documentation

#540 Improve handling of sorting for guild channels and roles
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/GuildEmoji.java
  core/src/main/java/discord4j/core/object/entity/Member.java
  core/src/main/java/discord4j/core/object/entity/Role.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseGuildChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/GuildChannel.java
  core/src/main/java/discord4j/core/util/OrderUtil.java
Labels: API change, behavior change, core

#534 Image refactor
  core/src/main/java/discord4j/core/object/entity/ApplicationInfo.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/User.java
  core/src/main/java/discord4j/core/object/util/Image.java
  core/src/main/java/discord4j/core/spec/GuildCreateSpec.java
  core/src/main/java/discord4j/core/spec/GuildEditSpec.java
  core/src/main/java/discord4j/core/spec/GuildEmojiCreateSpec.java
  core/src/main/java/discord4j/core/spec/UserEditSpec.java
  core/src/main/java/discord4j/core/spec/WebhookCreateSpec.java
  core/src/main/java/discord4j/core/spec/WebhookEditSpec.java
Labels: API change, core
