Repository Discord4J/Discord4J, pull requests merged in 2019-03, with the labels that each got.

#500 Add Member#isHigher(Member) and Member#isHigher(Snowflake)
  core/src/main/java/discord4j/core/object/entity/Member.java
Labels: feature request, v3

#494 Core Javadocs
  core/src/main/java/discord4j/core/spec/AuditLogQuerySpec.java
  core/src/main/java/discord4j/core/spec/AuditSpec.java
  core/src/main/java/discord4j/core/spec/BanQuerySpec.java
  core/src/main/java/discord4j/core/spec/CategoryCreateSpec.java
  core/src/main/java/discord4j/core/spec/CategoryEditSpec.java
  core/src/main/java/discord4j/core/spec/EmbedCreateSpec.java
  core/src/main/java/discord4j/core/spec/GuildCreateSpec.java
  core/src/main/java/discord4j/core/spec/VoiceChannelCreateSpec.java
Labels: documentation, v3

#507 Add Member#getHighestRole()
  core/src/main/java/discord4j/core/object/entity/Member.java
Labels: core, enhancement

#508 Improve PermissionSet functionality, docs, and tests
  core/src/main/java/discord4j/core/object/util/PermissionSet.java
  core/src/test/java/discord4j/core/object/util/PermissionSetTest.java
Labels: core, enhancement

#504 Add Member#hasHigherRoles
  core/src/main/java/discord4j/core/object/entity/Member.java
Labels: PR depends on PR, core, enhancement

#512 Add missing documentation to events.
  core/src/main/java/discord4j/core/event/domain/PresenceUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/UserUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/VoiceServerUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/VoiceStateUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/WebhooksUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/channel/CategoryCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/channel/CategoryDeleteEvent.java
  core/src/main/java/discord4j/core/event/domain/channel/CategoryUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/channel/PinsUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/channel/PrivateChannelCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/channel/PrivateChannelDeleteEvent.java
  core/src/main/java/discord4j/core/event/domain/channel/TextChannelCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/channel/TextChannelDeleteEvent.java
  core/src/main/java/discord4j/core/event/domain/channel/TextChannelUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/channel/TypingStartEvent.java
  core/src/main/java/discord4j/core/event/domain/channel/VoiceChannelCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/channel/VoiceChannelDeleteEvent.java
  core/src/main/java/discord4j/core/event/domain/channel/VoiceChannelUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/guild/BanEvent.java
  core/src/main/java/discord4j/core/event/domain/guild/EmojisUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/guild/GuildCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/guild/GuildDeleteEvent.java
  core/src/main/java/discord4j/core/event/domain/guild/GuildUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/guild/IntegrationsUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/guild/MemberChunkEvent.java
  core/src/main/java/discord4j/core/event/domain/guild/MemberJoinEvent.java
  core/src/main/java/discord4j/core/event/domain/guild/MemberLeaveEvent.java
  core/src/main/java/discord4j/core/event/domain/guild/MemberUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/guild/UnbanEvent.java
  core/src/main/java/discord4j/core/event/domain/lifecycle/ConnectEvent.java
  core/src/main/java/discord4j/core/event/domain/lifecycle/DisconnectEvent.java
  core/src/main/java/discord4j/core/event/domain/lifecycle/ReadyEvent.java
  core/src/main/java/discord4j/core/event/domain/lifecycle/ReconnectEvent.java
  core/src/main/java/discord4j/core/event/domain/lifecycle/ReconnectFailEvent.java
  core/src/main/java/discord4j/core/event/domain/lifecycle/ReconnectStartEvent.java
  core/src/main/java/discord4j/core/event/domain/lifecycle/ResumeEvent.java
  core/src/main/java/discord4j/core/event/domain/message/MessageBulkDeleteEvent.java
  core/src/main/java/discord4j/core/event/domain/message/MessageCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/message/MessageDeleteEvent.java
  core/src/main/java/discord4j/core/event/domain/message/MessageUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/message/ReactionAddEvent.java
  core/src/main/java/discord4j/core/event/domain/message/ReactionRemoveAllEvent.java
  core/src/main/java/discord4j/core/event/domain/message/ReactionRemoveEvent.java
  core/src/main/java/discord4j/core/event/domain/role/RoleCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/role/RoleDeleteEvent.java
  core/src/main/java/discord4j/core/event/domain/role/RoleUpdateEvent.java
Labels: documentation

#503 Add missing properties to MessageUpdate dispatch and implement Bean update
  common/src/main/java/discord4j/common/json/Mention.java
  common/src/main/java/discord4j/common/json/MessageMember.java
  core/src/main/java/discord4j/core/event/dispatch/MessageDispatchHandlers.java
  core/src/main/java/discord4j/core/object/data/stored/MemberBean.java
  core/src/main/java/discord4j/core/object/data/stored/MessageBean.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/MessageCreate.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/MessageUpdate.java
Labels: core, enhancement
