Repository Discord4J/Discord4J, pull requests merged in 2019-05, with the labels that each got.

#525 Global Rate Limiter performance improvements
  core/src/test/java/discord4j/core/ExampleBot.java
  rest/src/main/java/discord4j/rest/request/DefaultRouter.java
  rest/src/main/java/discord4j/rest/request/GlobalRateLimiter.java
  rest/src/main/java/discord4j/rest/request/RequestStream.java
  rest/src/test/java/discord4j/rest/request/GlobalRateLimiterTest.java
Labels: enhancement, rest

#526 Support to Banner image in Guild
  core/src/main/java/discord4j/core/object/audit/ChangeKey.java
  core/src/main/java/discord4j/core/object/data/stored/BaseGuildBean.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/spec/GuildEditSpec.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/GuildCreate.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/GuildUpdate.java
  rest/src/main/java/discord4j/rest/json/request/GuildModifyRequest.java
  rest/src/main/java/discord4j/rest/json/response/GuildResponse.java
Labels: core, feature request

#528 Fix broken nsfw property
  core/src/main/java/discord4j/core/object/data/stored/ChannelBean.java
Labels: bug, core

#532 Add some image utilities and docs
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/GuildEmoji.java
  core/src/main/java/discord4j/core/object/entity/User.java
  core/src/main/java/discord4j/core/object/util/Image.java
Labels: core, enhancement
