Repository Discord4J/Discord4J, pull requests merged in 2020-06, with the labels that each got.

#722 Adds VoiceState#isSelfVideoEnabled
  core/src/main/java/discord4j/core/object/VoiceState.java
Labels: area/core, enhancement

#723 Add getGuildId and getGuild to classes missing them
  core/src/main/java/discord4j/core/event/dispatch/ChannelDispatchHandlers.java
  core/src/main/java/discord4j/core/event/dispatch/MessageDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/channel/PinsUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/message/MessageDeleteEvent.java
  core/src/main/java/discord4j/core/object/entity/Message.java
Labels: area/core, enhancement

#726 Ensure that guild_id fields are named guildId()
  core/src/main/java/discord4j/core/event/dispatch/GuildDispatchHandlers.java
Labels: area/core, area/data, enhancement

#730 Update BanQuerySpec#setDeleteMessageDays
  core/src/main/java/discord4j/core/spec/BanQuerySpec.java
  rest/src/test/java/discord4j/rest/util/RouteUtilsTest.java
Labels: area/core, bug, discord issue

#728 Adds VoiceChannel#isMemberConnected
  core/src/main/java/discord4j/core/object/entity/channel/VoiceChannel.java
Labels: area/core, enhancement

#731 add disconnect cause and status to DisconnectEvent
  core/src/main/java/discord4j/core/event/dispatch/LifecycleDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/lifecycle/DisconnectEvent.java
  gateway/src/main/java/discord4j/gateway/DefaultGatewayClient.java
  gateway/src/main/java/discord4j/gateway/retry/ClosingStateChange.java
  gateway/src/main/java/discord4j/gateway/retry/GatewayStateChange.java
Labels: area/core, area/gateway, feature-request

#733 Fix error 400 on ban
  rest/src/main/java/discord4j/rest/service/GuildService.java
Labels: area/core, bug

#732 Rename delete-message-days to delete_message_days
  rest/src/main/java/discord4j/rest/entity/RestGuild.java
  rest/src/test/java/discord4j/rest/util/RouteUtilsTest.java
Labels: area/rest, bug

#735 Fix issue related with Premium Count.
  core/src/main/java/discord4j/core/object/data/stored/BaseGuildBean.java
  core/src/main/java/discord4j/core/object/data/stored/GuildBean.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
Labels: area/core, bug

#736 make CloseStatus#getReason return empty if reason is blank
  common/src/main/java/discord4j/common/close/CloseStatus.java
Labels: area/gateway, behavior change, enhancement
