Repository Discord4J/Discord4J, pull requests merged in 2020-11, with the labels that each got.

#803 Remove include_applications when getting guild integrations
  rest/src/main/java/discord4j/rest/entity/RestGuild.java
  rest/src/main/java/discord4j/rest/service/GuildService.java
Labels: API change, area/rest

#804 Automatically retry on CloudFlare's error 520
  rest/src/main/java/discord4j/rest/request/RequestStream.java
Labels: area/rest, enhancement

#808 Adds support for stickers
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/object/entity/Sticker.java
Labels: area/core, feature-request

#807 Rename currentRoles to currentRoleIds
  core/src/main/java/discord4j/core/event/dispatch/GuildDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/guild/MemberUpdateEvent.java
Labels: API change, area/core, enhancement

#809 Add support for inline replies
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/spec/MessageCreateSpec.java
  core/src/main/java/discord4j/core/spec/MessageReferenceSpec.java
  rest/src/main/java/discord4j/rest/util/AllowedMentions.java
Labels: area/core, area/rest, feature-request

#812 Support role tags
  core/src/main/java/discord4j/core/object/RoleTags.java
  core/src/main/java/discord4j/core/object/entity/Role.java
Labels: area/core, feature-request

#813 Fix: Bot's presence is not updated using Member#getPresence
  core/src/main/java/discord4j/core/object/entity/Member.java
Labels: area/core, enhancement

#814 Support get guild preview
  rest/src/main/java/discord4j/rest/entity/RestGuild.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/GuildService.java
  rest/src/test/java/discord4j/rest/service/GuildServiceTest.java
Labels: area/rest, feature-request

#817 Adds setAllowedMentions to MessageEditSpec
  core/src/main/java/discord4j/core/spec/MessageEditSpec.java
Labels: area/core, feature-request
