Repository Discord4J/Discord4J, pull requests merged in 2020-09, with the labels that each got.

#763 Add getOld function to EmojisUpdateEvent
  core/src/main/java/discord4j/core/event/dispatch/GuildDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/guild/EmojisUpdateEvent.java
Labels: area/core, enhancement

#767 Support for more querys in AuditLogQuerySpec
  core/src/main/java/discord4j/core/spec/AuditLogQuerySpec.java
Labels: area/core, enhancement

#774 REST for remove emoji reaction
  rest/src/main/java/discord4j/rest/entity/RestMessage.java
Labels: area/rest, enhancement

#775 Support for the COMPETING Activity type
  core/src/main/java/discord4j/core/GatewayDiscordClient.java
  core/src/main/java/discord4j/core/object/presence/Activity.java
  core/src/main/java/discord4j/core/object/presence/Presence.java
Labels: area/core, enhancement

#773 Changes in Crosspost and Follow methods
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/object/entity/channel/NewsChannel.java
  rest/src/main/java/discord4j/rest/entity/RestMessage.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/ChannelService.java
Labels: area/core, area/rest, enhancement, experimental
