Repository Discord4J/Discord4J, pull requests merged in 2020-03, with the labels that each got.

#612 All POST /guilds fields are optional except name
  core/src/main/java/discord4j/core/spec/GuildCreateSpec.java
  rest/src/main/java/discord4j/rest/json/request/GuildCreateRequest.java
Labels: area/rest, enhancement

#619 Fix inviter is now nullable
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/InviteCreateEvent.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/InviteCreate.java
Labels: area/core

#620 Invite create/delete event guild_id is now nullable
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/InviteCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/InviteDeleteEvent.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/InviteCreate.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/InviteDelete.java
Labels: area/core

#621 Added method "getTag" to User object
  core/src/main/java/discord4j/core/object/entity/User.java
Labels: area/core, enhancement

#627 Fix NoSuchElementException
  core/src/main/java/discord4j/core/event/domain/PresenceUpdateEvent.java
  core/src/main/java/discord4j/core/object/Embed.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseMessageChannel.java
Labels: area/core, bug

#626 Fix Member#getNickname
  core/src/main/java/discord4j/core/object/entity/Member.java
Labels: area/core, bug

#624 Update Guild fields
  core/src/main/java/discord4j/core/object/entity/Guild.java
Labels: area/core, enhancement

#623 Update Activity fields
  core/src/main/java/discord4j/core/object/presence/Activity.java
Labels: area/core, enhancement

#628 Add VIEW_GUILD_INSIGHTS permission
  rest/src/main/java/discord4j/rest/util/Permission.java
Labels: area/rest, enhancement

#625 Add documentation
  core/src/main/java/discord4j/core/event/dispatch/DispatchContext.java
  core/src/main/java/discord4j/core/event/domain/InviteCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/guild/MemberUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/lifecycle/ReadyEvent.java
  core/src/main/java/discord4j/core/object/Embed.java
  core/src/main/java/discord4j/core/object/Invite.java
  core/src/main/java/discord4j/core/object/PermissionOverwrite.java
  core/src/main/java/discord4j/core/object/audit/AuditLogEntry.java
  core/src/main/java/discord4j/core/object/audit/ChangeKey.java
  core/src/main/java/discord4j/core/object/audit/OptionKey.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/Member.java
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/object/entity/Role.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseGuildMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/Channel.java
  core/src/main/java/discord4j/core/object/entity/channel/GuildMessageChannel.java
  core/src/main/java/discord4j/core/object/presence/Activity.java
  core/src/main/java/discord4j/core/object/presence/Presence.java
  core/src/main/java/discord4j/core/object/reaction/ReactionEmoji.java
  core/src/main/java/discord4j/core/object/util/Image.java
  core/src/main/java/discord4j/core/shard/ShardCoordinator.java
  gateway/src/main/java/discord4j/gateway/GatewayClient.java
  gateway/src/main/java/discord4j/gateway/GatewayObserver.java
  rest/src/main/java/discord4j/rest/entity/RestChannel.java
  rest/src/main/java/discord4j/rest/entity/RestMessage.java
  rest/src/main/java/discord4j/rest/http/client/DiscordWebClient.java
  rest/src/main/java/discord4j/rest/util/Permission.java
Labels: area/core, documentation

#632 Fix NoSuchElementException in GuildDeleteEvent
  core/src/main/java/discord4j/core/event/dispatch/GuildDispatchHandlers.java
Labels: area/data, bug

#640 Add ReactorResources.Builder
  common/src/main/java/discord4j/common/ReactorResources.java
Labels: area/common, enhancement

#639 Added abstraction for REST request queue
  rest/src/main/java/discord4j/rest/request/ProcessorRequestQueueFactory.java
  rest/src/main/java/discord4j/rest/request/RequestQueue.java
  rest/src/main/java/discord4j/rest/request/RequestQueueFactory.java
  rest/src/main/java/discord4j/rest/request/RequestStream.java
  rest/src/main/java/discord4j/rest/request/RouterOptions.java
Labels: area/rest, enhancement
