Repository Discord4J/Discord4J, pull requests merged in 2020-10, with the labels that each got.

#785 Work on v8: part 1
  core/src/main/java/discord4j/core/event/dispatch/ChannelDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/channel/PrivateChannelCreateEvent.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  gateway/src/main/java/discord4j/gateway/intent/Intent.java
  rest/src/main/java/discord4j/rest/entity/RestGuild.java
  rest/src/main/java/discord4j/rest/http/client/DiscordWebClient.java
  rest/src/main/java/discord4j/rest/request/RateLimitRetryOperator.java
  rest/src/main/java/discord4j/rest/request/RequestStream.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/GuildService.java
Labels: area/core, area/rest, deprecation, enhancement

#787 Work on v8: part 2
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/object/PermissionOverwrite.java
  core/src/main/java/discord4j/core/object/presence/Presence.java
Labels: PR depends on PR, area/core, enhancement

#783 Add methods for obtaining an existing, registered VoiceConnection to associated entities
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/channel/VoiceChannel.java
Labels: area/core, enhancement

#786 Deprecate PrivateChannelCreateEvent
  core/src/main/java/discord4j/core/event/domain/channel/PrivateChannelCreateEvent.java
Labels: area/core, deprecation, enhancement

#792 Update Guild documentation
  core/src/main/java/discord4j/core/object/entity/Guild.java
Labels: area/core, documentation

#793 Update Community Guild documentation
  core/src/main/java/discord4j/core/object/entity/Guild.java
Labels: area/core, documentation

#794 Update Integration support
  core/src/main/java/discord4j/core/object/entity/Webhook.java
  rest/src/main/java/discord4j/rest/entity/RestGuild.java
  rest/src/main/java/discord4j/rest/service/GuildService.java
Labels: area/core, area/rest, enhancement

#770 Add VoiceStateUpdateEvent utility functions
  core/src/main/java/discord4j/core/event/domain/VoiceStateUpdateEvent.java
Labels: area/core, enhancement
