Repository Discord4J/Discord4J, pull requests merged in 2020-04, with the labels that each got.

#642 Fix entities not being properly removed from stores on voice disconnect and guild leave
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/dispatch/GuildDispatchHandlers.java
Labels: area/core, bug

#641 [3.1] Added abstraction for core entity retrieval
  core/src/main/java/discord4j/core/GatewayDiscordClient.java
  core/src/main/java/discord4j/core/object/ExtendedPermissionOverwrite.java
  core/src/main/java/discord4j/core/object/Invite.java
  core/src/main/java/discord4j/core/object/VoiceState.java
  core/src/main/java/discord4j/core/object/entity/ApplicationInfo.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/GuildEmoji.java
  core/src/main/java/discord4j/core/object/entity/Member.java
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/object/entity/Role.java
  core/src/main/java/discord4j/core/object/entity/User.java
  core/src/main/java/discord4j/core/object/entity/Webhook.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseCategorizableChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseGuildChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseGuildMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/CategorizableChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/Category.java
  core/src/main/java/discord4j/core/object/entity/channel/GuildChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/MessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/PrivateChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/VoiceChannel.java
  core/src/main/java/discord4j/core/retriever/EntityRetrievalStrategy.java
  core/src/main/java/discord4j/core/retriever/EntityRetriever.java
  core/src/main/java/discord4j/core/retriever/FallbackEntityRetriever.java
  core/src/main/java/discord4j/core/retriever/RestEntityRetriever.java
  core/src/main/java/discord4j/core/retriever/StoreEntityRetriever.java
  core/src/main/java/discord4j/core/shard/GatewayBootstrap.java
Labels: area/core, enhancement

#654 Forward-compatibility of Spec::asRequest by using Builder
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/object/entity/User.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseGuildChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseGuildMessageChannel.java
  core/src/main/java/discord4j/core/object/presence/Activity.java
  core/src/main/java/discord4j/core/spec/CategoryEditSpec.java
  core/src/main/java/discord4j/core/spec/GuildCreateSpec.java
  core/src/main/java/discord4j/core/spec/GuildEmojiCreateSpec.java
  core/src/main/java/discord4j/core/spec/GuildEmojiEditSpec.java
  core/src/main/java/discord4j/core/spec/InviteCreateSpec.java
  core/src/main/java/discord4j/core/spec/MessageEditSpec.java
  core/src/main/java/discord4j/core/spec/UserEditSpec.java
  core/src/main/java/discord4j/core/spec/WebhookCreateSpec.java
  core/src/main/java/discord4j/core/spec/WebhookEditSpec.java
  rest/src/main/java/discord4j/rest/entity/RestChannel.java
  rest/src/main/java/discord4j/rest/entity/RestRole.java
  rest/src/main/java/discord4j/rest/entity/RestUser.java
  rest/src/test/java/discord4j/rest/service/ChannelServiceTest.java
  rest/src/test/java/discord4j/rest/service/UserServiceTest.java
Labels: area/core, area/data, area/rest, enhancement

#648 Validate sharding factor
  core/src/main/java/discord4j/core/shard/DefaultShardingStrategy.java
Labels: area/gateway, enhancement

#649 GatewayEventFilter can now exclude/include multiple events
  core/src/test/java/discord4j/core/logback/GatewayEventFilter.java
Labels: area/core, enhancement

#651 Fix requests never completing when discarded by backpressure
  rest/src/main/java/discord4j/rest/request/DiscardedRequestException.java
  rest/src/main/java/discord4j/rest/request/ProcessorRequestQueueFactory.java
  rest/src/main/java/discord4j/rest/request/RequestStream.java
Labels: area/rest, bug

#609 New Identify Field: Intents
  core/src/main/java/discord4j/core/shard/GatewayBootstrap.java
  gateway/src/main/java/discord4j/gateway/IdentifyOptions.java
  gateway/src/main/java/discord4j/gateway/PayloadHandlers.java
  gateway/src/main/java/discord4j/gateway/intent/Intent.java
  gateway/src/main/java/discord4j/gateway/intent/IntentSet.java
  gateway/src/test/java/discord4j/gateway/GatewayClientTest.java
Labels: area/core, area/gateway, feature request

#653 Fix rate limiter deadlock on high parallel load
  common/src/main/java/discord4j/common/operator/RateLimitOperator.java
  rest/src/main/java/discord4j/rest/request/BucketGlobalRateLimiter.java
  rest/src/test/java/discord4j/rest/request/GlobalRateLimiterTest.java
  rest/src/test/resources/logback.xml
Labels: area/rest, bug

#657 Close codes which shouldn't retry
  gateway/src/main/java/discord4j/gateway/DefaultGatewayClient.java
Labels: area/gateway, enhancement

#661 Add REST support for "Delete All Reactions for Emoji"
  core/src/main/java/discord4j/core/object/entity/Message.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/ChannelService.java
Labels: area/rest, feature request

#659 Make FallbackEntityRetriever public
  core/src/main/java/discord4j/core/retriever/FallbackEntityRetriever.java
Labels: area/core, enhancement

#662 Update Intent documentation
  gateway/src/main/java/discord4j/gateway/intent/Intent.java
Labels: area/gateway, documentation

#664 Fix support for VoiceState.getGuildId; closes #658
  core/src/main/java/discord4j/core/event/dispatch/GuildDispatchHandlers.java
  core/src/test/java/discord4j/core/support/VoiceSupport.java
Labels: area/core, bug

#667 NoOp DispatchEventMapper
  core/src/main/java/discord4j/core/event/dispatch/DispatchEventMapper.java
Labels: area/core, enhancement

#668 Add `getSelfMember()` to Guild and RestGuild classes
  core/src/main/java/discord4j/core/object/entity/Guild.java
  rest/src/main/java/discord4j/rest/entity/RestGuild.java
Labels: area/core, area/rest, enhancement

#663 Add MemberRequestFilter to control member loading
  core/src/main/java/discord4j/core/GatewayResources.java
  core/src/main/java/discord4j/core/event/dispatch/GuildDispatchHandlers.java
  core/src/main/java/discord4j/core/shard/GatewayBootstrap.java
  core/src/main/java/discord4j/core/shard/MemberRequestFilter.java
Labels: area/core, feature-request

#669 Implemented event for ReactionRemoveEmoji-Event
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/dispatch/MessageDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/message/ReactionRemoveEmojiEvent.java
Labels: area/core, feature-request

#674 Not printing reconnect-event as error
  gateway/src/main/java/discord4j/gateway/DefaultGatewayClient.java
  gateway/src/main/java/discord4j/gateway/GatewayWebsocketHandler.java
  gateway/src/main/java/discord4j/gateway/PayloadHandlers.java
  gateway/src/main/java/discord4j/gateway/retry/ReconnectException.java
Labels: area/gateway, enhancement

#675 Update MemberChunkEvent fields
  core/src/main/java/discord4j/core/event/dispatch/GuildDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/guild/MemberChunkEvent.java
Labels: area/core, enhancement

#673 Implemented AllowedMentions
  core/src/main/java/discord4j/core/object/entity/channel/AllowedMentions.java
  core/src/main/java/discord4j/core/spec/MessageCreateSpec.java
  core/src/test/java/discord4j/core/ExampleAllowedMentions.java
Labels: area/core, feature-request

#665 Support for Crosspost a message and other changes
  core/src/main/java/discord4j/core/object/entity/Message.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/ChannelService.java
Labels: area/rest, feature-request

#670 Support for new elements in Guilds
  core/src/main/java/discord4j/core/object/data/stored/BaseGuildBean.java
  core/src/main/java/discord4j/core/object/data/stored/GuildBean.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/GuildCreate.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/GuildUpdate.java
  rest/src/main/java/discord4j/rest/json/response/GuildResponse.java
Labels: area/core, enhancement

#671 Update Guild fields
  core/src/main/java/discord4j/core/object/entity/Guild.java
Labels: area/core, enhancement

#677 Voice channel distribution
  core/src/main/java/discord4j/core/object/entity/channel/VoiceChannel.java
Labels: area/core, enhancement
