Repository Discord4J/Discord4J, pull requests merged in 2020-08, with the labels that each got.

#742 Add Webhook Execute Functionality #547
  core/src/main/java/discord4j/core/GatewayDiscordClient.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/Webhook.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseGuildMessageChannel.java
  core/src/main/java/discord4j/core/spec/MessageCreateSpec.java
  core/src/main/java/discord4j/core/spec/WebhookCreateSpec.java
  core/src/main/java/discord4j/core/spec/WebhookEditWithTokenSpec.java
  core/src/main/java/discord4j/core/spec/WebhookExecuteSpec.java
  core/src/test/java/discord4j/core/ExampleWebhook.java
  gradle.properties
  rest/src/main/java/discord4j/rest/entity/RestChannel.java
  rest/src/main/java/discord4j/rest/http/MultipartWriterStrategy.java
  rest/src/main/java/discord4j/rest/service/ChannelService.java
  rest/src/main/java/discord4j/rest/service/WebhookService.java
  rest/src/main/java/discord4j/rest/util/MultipartRequest.java
  rest/src/test/java/discord4j/rest/service/ChannelServiceTest.java
Labels: area/core, area/rest, feature-request

#753 Add support for channel following
  core/src/main/java/discord4j/core/object/FollowedChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/NewsChannel.java
  rest/src/main/java/discord4j/rest/entity/RestChannel.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/ChannelService.java
Labels: area/core, area/rest, feature-request

#754 Add @Nullable annotation to equals methods.
  gateway/src/main/java/discord4j/gateway/SessionInfo.java
  gateway/src/main/java/discord4j/gateway/ShardInfo.java
  gateway/src/main/java/discord4j/gateway/intent/IntentSet.java
  rest/src/main/java/discord4j/rest/util/Color.java
  rest/src/main/java/discord4j/rest/util/Image.java
  rest/src/main/java/discord4j/rest/util/PermissionSet.java
Labels: enhancement

#757 Add joined_at field to GuildMemberUpdate
  core/src/main/java/discord4j/core/event/dispatch/GuildDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/guild/MemberUpdateEvent.java
Labels: area/core, feature-request

#758 Update Discord URL
  docs/Frequently-Asked-Questions.md
  docs/Migrating-from-v2.x-to-v3.1.md
  docs/Music-Bot-Tutorial.md
  docs/index.md
Labels: documentation
