Repository Discord4J/Discord4J, pull requests merged in 2020-05, with the labels that each got.

#682 Request member from the gateway if missing from the cache
  core/src/main/java/discord4j/core/retriever/StoreEntityRetriever.java
Labels: area/core, enhancement

#678 Adds configurable timeout to VoiceChannelJoinSpec
  core/src/main/java/discord4j/core/spec/VoiceChannelJoinSpec.java
Labels: area/core, bug

#679 Adds some documentations
  core/src/main/java/discord4j/core/event/domain/message/ReactionRemoveEmojiEvent.java
  core/src/main/java/discord4j/core/object/audit/ActionType.java
  core/src/main/java/discord4j/core/object/audit/AuditLogEntry.java
  core/src/main/java/discord4j/core/object/audit/ChangeKey.java
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/object/presence/Status.java
  core/src/main/java/discord4j/core/util/OrderUtil.java
Labels: area/core, documentation

#688 Add method for getting all members in a guild channel
  core/src/main/java/discord4j/core/object/entity/channel/BaseGuildMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/GuildMessageChannel.java
Labels: area/core, enhancement

#699 Fix possible NoSuchElementException on TextChannel#isNsfw
  core/src/main/java/discord4j/core/object/entity/channel/TextChannel.java
Labels: area/core, bug

#700 Change default voice timeout value
  core/src/main/java/discord4j/core/spec/VoiceChannelJoinSpec.java
Labels: area/voice, enhancement

#702 Fix Discord4J/Discord4J#701 (Inviter Optional)
  core/src/main/java/discord4j/core/object/ExtendedInvite.java
  core/src/main/java/discord4j/core/object/data/ExtendedInviteBean.java
Labels: area/core, backport

#706 Adds Guild#getMaxVideoChannelUsers()
  core/src/main/java/discord4j/core/object/entity/Guild.java
Labels: area/core, feature-request

#705 Replace java.awt.color with custom Color class
  core/src/main/java/discord4j/core/object/Embed.java
  core/src/main/java/discord4j/core/object/entity/Member.java
  core/src/main/java/discord4j/core/object/entity/Role.java
  core/src/main/java/discord4j/core/spec/EmbedCreateSpec.java
  core/src/main/java/discord4j/core/spec/RoleCreateSpec.java
  core/src/main/java/discord4j/core/spec/RoleEditSpec.java
  rest/src/main/java/discord4j/rest/util/Color.java
  rest/src/test/java/discord4j/rest/util/ColorTest.java
Labels: API change, area/core, enhancement

#707 Deprecate embed fields
  core/src/main/java/discord4j/core/object/entity/Guild.java
  rest/src/main/java/discord4j/rest/entity/RestGuild.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/GuildService.java
  rest/src/test/java/discord4j/rest/service/GuildServiceTest.java
Labels: area/rest, deprecation, enhancement

#710 Cleanup Color and Add Constants
  core/src/main/java/discord4j/core/object/Embed.java
  core/src/main/java/discord4j/core/object/entity/Role.java
  core/src/main/java/discord4j/core/spec/EmbedCreateSpec.java
  core/src/main/java/discord4j/core/spec/RoleCreateSpec.java
  core/src/main/java/discord4j/core/spec/RoleEditSpec.java
  rest/src/main/java/discord4j/rest/util/Color.java
  rest/src/test/java/discord4j/rest/util/ColorTest.java
Labels: area/core, area/rest, enhancement

#712 PinsUpdateEvent#last_pin_timestamp is nullable
  core/src/main/java/discord4j/core/event/dispatch/ChannelDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/channel/PinsUpdateEvent.java
Labels: area/core, area/data, bug

#713 Fix members list only containing the bot user with guild intent declared
  core/src/main/java/discord4j/core/GatewayResources.java
  core/src/main/java/discord4j/core/retriever/StoreEntityRetriever.java
  core/src/main/java/discord4j/core/shard/GatewayBootstrap.java
Labels: area/core, bug

#694 Started README Overhaul
  .github/README_TEMPLATE.md
  README.md
Labels: task

#697 Parse self ID from token
  common/src/main/java/discord4j/common/util/TokenUtil.java
  core/src/main/java/discord4j/core/GatewayDiscordClient.java
  core/src/main/java/discord4j/core/event/dispatch/LifecycleDispatchHandlers.java
  core/src/main/java/discord4j/core/event/dispatch/MessageDispatchHandlers.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/retriever/StoreEntityRetriever.java
  core/src/main/java/discord4j/core/spec/VoiceChannelJoinSpec.java
  core/src/main/java/discord4j/core/state/StateHolder.java
  core/src/main/java/discord4j/core/state/StateView.java
  rest/src/main/java/discord4j/rest/RestResources.java
Labels: API change, area/core, enhancement

#718 Validate intents for GatewayDiscordClient::requestMembers
  core/src/main/java/discord4j/core/GatewayDiscordClient.java
  core/src/main/java/discord4j/core/util/ValidationUtil.java
  core/src/test/java/discord4j/core/ExampleIntents.java
  core/src/test/java/discord4j/core/util/ValidationUtilTest.java
Labels: area/core, enhancement

#719 RestChannel#createMessage for content and embed only
  rest/src/main/java/discord4j/rest/entity/RestChannel.java
Labels: area/rest, enhancement
