Repository Discord4J/Discord4J, pull requests merged in 2021-04, with the labels that each got.

#880 Add public accessors for IDs in rest* entities
  rest/src/main/java/discord4j/rest/entity/RestChannel.java
  rest/src/main/java/discord4j/rest/entity/RestEmoji.java
  rest/src/main/java/discord4j/rest/entity/RestGuild.java
  rest/src/main/java/discord4j/rest/entity/RestGuildTemplate.java
  rest/src/main/java/discord4j/rest/entity/RestInvite.java
  rest/src/main/java/discord4j/rest/entity/RestMember.java
  rest/src/main/java/discord4j/rest/entity/RestMessage.java
  rest/src/main/java/discord4j/rest/entity/RestRole.java
  rest/src/main/java/discord4j/rest/entity/RestUser.java
  rest/src/main/java/discord4j/rest/entity/RestWebhook.java
Labels: area/rest, enhancement

#883 Adds loading message flag
  core/src/main/java/discord4j/core/object/entity/Message.java
Labels: area/interactions, enhancement

#884 [3.1.x] Adds message types 16, 17 and 20
  core/src/main/java/discord4j/core/object/entity/Message.java
Labels: area/core, enhancement

#881 [3.2.x] Adds message types 16, 17 and 20
  core/src/main/java/discord4j/core/object/entity/Message.java
Labels: area/core, enhancement

#886 Add pending field to MemberUpdateEvent
  core/src/main/java/discord4j/core/event/dispatch/GuildDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/guild/MemberUpdateEvent.java
Labels: area/core, enhancement

#887 Add InteractionData#getApplicationId
  core/src/main/java/discord4j/core/object/command/Interaction.java
  gradle.properties
Labels: area/interactions, enhancement

#888 Adds RestGuild#searchMembers
  rest/src/main/java/discord4j/rest/entity/RestGuild.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/GuildService.java
Labels: area/rest, feature-request

#889 Add USE_SLASH_COMMANDS permissions
  rest/src/main/java/discord4j/rest/util/Permission.java
Labels: area/rest, feature-request

#890 Remove USER_DMS_GET
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/UserService.java
  rest/src/test/java/discord4j/rest/service/UserServiceTest.java
Labels: area/rest, deprecation

#892 Apply RestResource#getAllowedMentions to message edit requests
  core/src/main/java/discord4j/core/object/entity/Message.java
Labels: area/core, enhancement

#891 Add GUILD_INVITE_REMINDER
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/Message.java
Labels: area/core, enhancement

#893 Replace TextChannel to MessageChannel
  core/src/main/java/discord4j/core/object/command/Interaction.java
Labels: area/core, area/interactions, bug

#897 Add low(er) level ClientPresence and ClientActivity factory methods
  core/src/main/java/discord4j/core/object/presence/ClientActivity.java
  core/src/main/java/discord4j/core/object/presence/ClientPresence.java
Labels: area/core, enhancement

#877 Adds Slash Commands Permissions
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/ApplicationService.java
Labels: area/interactions, enhancement

#899 Fix audit log option and change parsing
  core/src/main/java/discord4j/core/object/audit/AuditLogChangeParser.java
  core/src/main/java/discord4j/core/object/audit/AuditLogEntry.java
  core/src/main/java/discord4j/core/object/audit/AuditLogPart.java
  core/src/main/java/discord4j/core/object/audit/AuditLogRole.java
  core/src/main/java/discord4j/core/object/audit/ChangeKey.java
  core/src/main/java/discord4j/core/object/audit/OptionKey.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/util/AuditLogUtil.java
  core/src/test/java/discord4j/core/ExampleAuditLog.java
  rest/src/main/java/discord4j/rest/util/PermissionSet.java
Labels: API change, area/core, enhancement

#900 Use better exception types than AssertionError
  common/src/main/java/discord4j/common/store/Store.java
  common/src/main/java/discord4j/common/store/action/gateway/GatewayActions.java
  common/src/main/java/discord4j/common/store/action/read/ReadActions.java
  common/src/main/java/discord4j/common/store/legacy/LegacyStoreLayout.java
  core/src/main/java/discord4j/core/event/dispatch/ChannelDispatchHandlers.java
  core/src/main/java/discord4j/core/object/presence/Presence.java
  gateway/src/main/java/discord4j/gateway/intent/IntentSet.java
  gateway/src/main/java/discord4j/gateway/state/DispatchStoreLayer.java
  rest/src/main/java/discord4j/rest/util/PermissionSet.java
Labels: enhancement

#902 Customizable Discord base url
  rest/src/main/java/discord4j/rest/RestClientBuilder.java
  rest/src/main/java/discord4j/rest/http/client/DiscordWebClient.java
  rest/src/main/java/discord4j/rest/request/DefaultRouter.java
  rest/src/main/java/discord4j/rest/request/RouterOptions.java
  rest/src/test/java/discord4j/rest/RestTests.java
  rest/src/test/java/discord4j/rest/http/WebClientTest.java
Labels: area/rest, enhancement

#901 Add method for constructing ReactionEmoji from codepoints using "U+" notation
  core/src/main/java/discord4j/core/object/reaction/ReactionEmoji.java
Labels: area/core, enhancement
