Repository Discord4J/Discord4J, pull requests merged in 2021-06, with the labels that each got.

#938 Add inherited interaction events
  core/src/main/java/discord4j/core/event/ReactiveEventAdapter.java
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/interaction/ApplicationCommandInteractEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/ButtonInteractEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/InteractionCreateEvent.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandInteraction.java
  core/src/main/java/discord4j/core/object/command/Interaction.java
  core/src/test/java/discord4j/core/ExampleApplicationCommandInteractEvent.java
  core/src/test/java/discord4j/core/ExampleButtons.java
Labels: area/interactions, enhancement

#936 Send empty activities array instead of null for status update
  core/src/main/java/discord4j/core/object/presence/ClientPresence.java
Labels: area/core, bug

#924 Evict stale `RequestStream`s to reduce memory usage over time
  rest/src/main/java/discord4j/rest/request/DefaultRouter.java
  rest/src/main/java/discord4j/rest/request/RequestStream.java
  rest/src/main/java/discord4j/rest/request/ResponseHeaderStrategy.java
Labels: area/rest, enhancement

#940 Properly terminate RequestSubscriber when a RequestStream is evicted
  rest/src/main/java/discord4j/rest/request/DefaultRouter.java
  rest/src/main/java/discord4j/rest/request/RequestStream.java
Labels: area/rest, bug

#922 Allow for ephemeral followup messages
  core/src/main/java/discord4j/core/event/domain/InteractionCreateEvent.java
  rest/src/main/java/discord4j/rest/interaction/InteractionOperations.java
  rest/src/main/java/discord4j/rest/interaction/InteractionResponse.java
Labels: area/interactions, enhancement

#929 Conserve order for Message#getAttachments
  core/src/main/java/discord4j/core/object/entity/Message.java
Labels: area/core, enhancement

#931 Improve Region usage in specs
  core/src/main/java/discord4j/core/object/Region.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/channel/VoiceChannel.java
  core/src/main/java/discord4j/core/spec/GuildCreateSpec.java
  core/src/main/java/discord4j/core/spec/GuildEditSpec.java
Labels: area/core, enhancement

#933 Add Guild#getNsfwLevel
  core/src/main/java/discord4j/core/object/entity/Guild.java
Labels: area/core, deprecation, enhancement

#942 Add utility class for creating timestamp markdown strings from java.time.Instant
  common/src/main/java/discord4j/common/util/TimestampFormat.java
  common/src/main/java/discord4j/common/util/package-info.java
Labels: area/core, feature-request

#944 Update MAX_DESCRIPTION_LENGTH
  core/src/main/java/discord4j/core/object/Embed.java
Labels: area/core

#935 Add message components (buttons)
  .github/workflows/gradle.yml
  build.gradle
  core/src/main/java/discord4j/core/event/ReactiveEventAdapter.java
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/interaction/ButtonInteractEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/ComponentInteractEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/InteractionCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/SlashCommandEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/package-info.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandInteraction.java
  core/src/main/java/discord4j/core/object/command/Interaction.java
  core/src/main/java/discord4j/core/object/component/ActionComponent.java
  core/src/main/java/discord4j/core/object/component/ActionRow.java
  core/src/main/java/discord4j/core/object/component/Button.java
  core/src/main/java/discord4j/core/object/component/LayoutComponent.java
  core/src/main/java/discord4j/core/object/component/MessageComponent.java
  core/src/main/java/discord4j/core/object/component/package-info.java
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/object/reaction/ReactionEmoji.java
  core/src/main/java/discord4j/core/spec/InteractionApplicationCommandCallbackSpec.java
  core/src/main/java/discord4j/core/spec/MessageCreateSpec.java
  core/src/test/java/discord4j/core/ExampleButtons.java
  core/src/test/java/discord4j/core/ExampleSlashCommandEvent.java
  rest/src/main/java/discord4j/rest/util/InteractionResponseType.java
Labels: area/interactions, feature-request

#946 Add message components (buttons) to 3.2.x
  .github/workflows/gradle.yml
  build.gradle
  core/src/main/java/discord4j/core/event/ReactiveEventAdapter.java
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/interaction/ButtonInteractEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/ComponentInteractEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/InteractionCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/SlashCommandEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/package-info.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandInteraction.java
  core/src/main/java/discord4j/core/object/command/Interaction.java
  core/src/main/java/discord4j/core/object/component/ActionComponent.java
  core/src/main/java/discord4j/core/object/component/ActionRow.java
  core/src/main/java/discord4j/core/object/component/Button.java
  core/src/main/java/discord4j/core/object/component/LayoutComponent.java
  core/src/main/java/discord4j/core/object/component/MessageComponent.java
  core/src/main/java/discord4j/core/object/component/package-info.java
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/object/reaction/ReactionEmoji.java
  core/src/main/java/discord4j/core/spec/InteractionApplicationCommandCallbackSpec.java
  core/src/main/java/discord4j/core/spec/MessageCreateSpec.java
  core/src/test/java/discord4j/core/ExampleButtons.java
  core/src/test/java/discord4j/core/ExampleSlashCommandEvent.java
  rest/src/main/java/discord4j/rest/util/InteractionResponseType.java
Labels: area/interactions, feature-request
