Repository Discord4J/Discord4J, pull requests merged in 2021-03, with the labels that each got.

#856 clarify UserUpdateEvent and PresenceUpdateEvent JavaDocs
  core/src/main/java/discord4j/core/event/domain/PresenceUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/UserUpdateEvent.java
Labels: area/core, documentation

#836 Add exposing data of entities
  core/src/main/java/discord4j/core/object/Ban.java
  core/src/main/java/discord4j/core/object/Embed.java
  core/src/main/java/discord4j/core/object/FollowedChannel.java
  core/src/main/java/discord4j/core/object/MessageReference.java
  core/src/main/java/discord4j/core/object/Region.java
  core/src/main/java/discord4j/core/object/RoleTags.java
  core/src/main/java/discord4j/core/object/VoiceState.java
  core/src/main/java/discord4j/core/object/audit/AuditLogEntry.java
  core/src/main/java/discord4j/core/object/entity/ApplicationInfo.java
  core/src/main/java/discord4j/core/object/entity/Attachment.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/GuildEmoji.java
  core/src/main/java/discord4j/core/object/entity/Member.java
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/object/entity/Role.java
  core/src/main/java/discord4j/core/object/entity/Sticker.java
  core/src/main/java/discord4j/core/object/entity/User.java
  core/src/main/java/discord4j/core/object/entity/Webhook.java
  core/src/main/java/discord4j/core/object/presence/Activity.java
  core/src/main/java/discord4j/core/object/reaction/Reaction.java
Labels: area/core, feature-request

#862 Updates ChangeKey
  core/src/main/java/discord4j/core/object/audit/ChangeKey.java
Labels: area/core, enhancement

#857 Conserve order for user mentions, role mentions and reactions on message
  core/src/main/java/discord4j/core/object/entity/Message.java
Labels: area/core

#858 Conserve order and use provided user data to get user mentions
  core/src/main/java/discord4j/core/object/entity/Message.java
Labels: API change, area/core, enhancement

#855 Work in progress: Improve slash command core api
  core/src/main/java/discord4j/core/event/ReactiveEventAdapter.java
  core/src/main/java/discord4j/core/event/dispatch/ApplicationCommandDispatchHandlers.java
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/InteractionCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/command/ApplicationCommandCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/command/ApplicationCommandDeleteEvent.java
  core/src/main/java/discord4j/core/event/domain/command/ApplicationCommandEvent.java
  core/src/main/java/discord4j/core/event/domain/command/ApplicationCommandUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/command/package-info.java
  core/src/main/java/discord4j/core/event/domain/lifecycle/DisconnectEvent.java
  core/src/main/java/discord4j/core/event/domain/role/RoleDeleteEvent.java
  core/src/main/java/discord4j/core/interaction/GatewayInteractions.java
  core/src/main/java/discord4j/core/object/Ban.java
  core/src/main/java/discord4j/core/object/Embed.java
  core/src/main/java/discord4j/core/object/ExtendedInvite.java
  core/src/main/java/discord4j/core/object/ExtendedPermissionOverwrite.java
  core/src/main/java/discord4j/core/object/Invite.java
  core/src/main/java/discord4j/core/object/MessageInteraction.java
  core/src/main/java/discord4j/core/object/Region.java
  core/src/main/java/discord4j/core/object/VoiceState.java
  core/src/main/java/discord4j/core/object/audit/ActionType.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommand.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandInteraction.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandInteractionOption.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandInteractionOptionValue.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandOption.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandOptionChoice.java
  core/src/main/java/discord4j/core/object/command/Interaction.java
  core/src/main/java/discord4j/core/object/entity/ApplicationInfo.java
  core/src/main/java/discord4j/core/object/entity/Attachment.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/GuildEmoji.java
  core/src/main/java/discord4j/core/object/entity/Member.java
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/object/entity/User.java
  core/src/main/java/discord4j/core/object/entity/Webhook.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseGuildChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseGuildMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/Category.java
  core/src/main/java/discord4j/core/object/entity/channel/NewsChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/PrivateChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/StoreChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/TextChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/VoiceChannel.java
  core/src/main/java/discord4j/core/object/reaction/Reaction.java
  core/src/main/java/discord4j/core/spec/InteractionApplicationCommandCallbackSpec.java
  core/src/test/java/discord4j/core/ExampleInteractionCreateEvent.java
  gateway/src/main/java/discord4j/gateway/json/jackson/PayloadDeserializer.java
  rest/src/main/java/discord4j/rest/entity/RestMessage.java
  rest/src/main/java/discord4j/rest/http/WebhookMultipartWriterStrategy.java
  rest/src/main/java/discord4j/rest/service/ApplicationService.java
  rest/src/main/java/discord4j/rest/service/InteractionService.java
  rest/src/main/java/discord4j/rest/util/ApplicationCommandOptionType.java
  rest/src/main/java/discord4j/rest/util/InteractionResponseType.java
Labels: area/core, area/interactions, feature-request

#867 Access low-level response from ClientException
  rest/src/main/java/discord4j/rest/http/client/ClientException.java
Labels: area/rest, feature-request

#869 Recommended ShardStrategy should use maxConcurrency as recommended by Discord
  core/src/main/java/discord4j/core/shard/GatewayBootstrap.java
  core/src/main/java/discord4j/core/shard/ShardingStrategy.java
Labels: area/core, enhancement

#868 Allow populating EmbedCreateSpec from existing Embed
  core/src/main/java/discord4j/core/spec/EmbedCreateSpec.java
Labels: area/core, feature-request

#872 Primitive long / long-wrapped IDs through Immutables virtual encoding
  common/src/main/java/discord4j/common/util/Snowflake.java
  core/src/main/java/discord4j/core/event/dispatch/GuildDispatchHandlers.java
  core/src/main/java/discord4j/core/object/presence/Activity.java
  gradle.properties
Labels: area/data, enhancement

#873 Allow passing in member for calculating effective permissions
  core/src/main/java/discord4j/core/object/entity/channel/BaseGuildChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseGuildMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/GuildChannel.java
Labels: area/core, enhancement

#871 Add methods to EntityRetriever and RestClient to make getting self Member easier
  core/src/main/java/discord4j/core/GatewayDiscordClient.java
  core/src/main/java/discord4j/core/retriever/EntityRetriever.java
  core/src/main/java/discord4j/core/retriever/FallbackEntityRetriever.java
  core/src/main/java/discord4j/core/retriever/RestEntityRetriever.java
  core/src/main/java/discord4j/core/retriever/StoreEntityRetriever.java
  rest/src/main/java/discord4j/rest/RestClient.java
Labels: area/core, enhancement

#876 Add support for server templates
  core/src/main/java/discord4j/core/GatewayDiscordClient.java
  core/src/main/java/discord4j/core/object/GuildTemplate.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/spec/GuildCreateFromTemplateSpec.java
  core/src/main/java/discord4j/core/spec/GuildTemplateCreateSpec.java
  core/src/main/java/discord4j/core/spec/GuildTemplateEditSpec.java
  rest/src/main/java/discord4j/rest/RestClient.java
  rest/src/main/java/discord4j/rest/entity/RestGuild.java
  rest/src/main/java/discord4j/rest/entity/RestGuildTemplate.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/TemplateService.java
  rest/src/test/java/discord4j/rest/service/TemplateServiceTest.java
Labels: area/core, area/rest, feature-request

#874 Improve API for setting a client's status and activity
  core/src/main/java/discord4j/core/GatewayDiscordClient.java
  core/src/main/java/discord4j/core/object/presence/Activity.java
  core/src/main/java/discord4j/core/object/presence/ClientActivity.java
  core/src/main/java/discord4j/core/object/presence/ClientPresence.java
  core/src/main/java/discord4j/core/object/presence/Presence.java
  core/src/main/java/discord4j/core/shard/GatewayBootstrap.java
  core/src/test/java/discord4j/core/ExampleGatewayErrors.java
  core/src/test/java/discord4j/core/ExampleWithGateway.java
  core/src/test/java/discord4j/core/support/Commands.java
Labels: area/core, enhancement
