Repository Discord4J/Discord4J, pull requests merged in 2021-09, with the labels that each got.

#1001 Feature/context menus
  core/src/main/java/discord4j/core/event/ReactiveEventAdapter.java
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/interaction/ApplicationCommandInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/ButtonInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/ChatInputInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/ComponentInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/InteractionCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/MessageInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/SelectMenuInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/UserInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/doc-files/InteractionCreateEvent.png
  core/src/main/java/discord4j/core/object/command/ApplicationCommand.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandInteraction.java
  core/src/test/java/discord4j/core/ExampleButtons.java
  core/src/test/java/discord4j/core/ExampleChatInputInteractionEvent.java
  core/src/test/java/discord4j/core/ExampleSelectMenu.java
Labels: area/core, API change, experimental, area/interactions

#1004 Clean up interaction type enums
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/interaction/ApplicationCommandInteractionEvent.java
  core/src/main/java/discord4j/core/object/MessageInteraction.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommand.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandInteraction.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandInteractionOption.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandInteractionOptionValue.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandOption.java
  core/src/test/java/discord4j/core/ExampleChatInputInteractionEvent.java
  rest/src/main/java/discord4j/rest/util/ApplicationCommandOptionType.java
  rest/src/test/java/discord4j/rest/example/ExampleRestCommand.java
Labels: enhancement, area/rest, area/core, API change, area/interactions

#1005 Add InteractionResponse methods to InteractionCreateEvent
  core/src/main/java/discord4j/core/event/domain/interaction/ApplicationCommandInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/ButtonInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/ChatInputInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/ComponentInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/InteractionCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/MessageInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/SelectMenuInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/UserInteractionEvent.java
  core/src/main/java/discord4j/core/spec/InteractionCallbackSpecGenerator.java
  core/src/main/java/discord4j/core/spec/InteractionFollowupCreateSpecGenerator.java
  core/src/main/java/discord4j/core/spec/InteractionReplyEditSpecGenerator.java
  core/src/test/java/discord4j/core/ExampleButtonAttachment.java
  core/src/test/java/discord4j/core/ExampleInteractions.java
  core/src/test/java/discord4j/core/ExampleSoundboard.java
  rest/src/main/java/discord4j/rest/interaction/InteractionOperations.java
  rest/src/main/java/discord4j/rest/interaction/InteractionResponse.java
  rest/src/main/java/discord4j/rest/service/WebhookService.java
Labels: enhancement, area/core, deprecation

#960 Make breaking channel hierarchy changes
  core/src/main/java/discord4j/core/object/entity/channel/BaseCategorizableChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseGuildChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseGuildMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseTopLevelGuildChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseTopLevelGuildMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/CategorizableChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/Category.java
  core/src/main/java/discord4j/core/object/entity/channel/Channel.java
  core/src/main/java/discord4j/core/object/entity/channel/GuildChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/GuildMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/MessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/NewsChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/PrivateChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/StoreChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/TextChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/TopLevelGuildChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/TopLevelGuildMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/VoiceChannel.java
  core/src/main/java/discord4j/core/spec/WebhookCreateSpecGenerator.java
  core/src/main/java/discord4j/core/util/OrderUtil.java
Labels: area/core, API change

#923 Support API v9 (Threads)
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/dispatch/ThreadDispatchHandlers.java
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/object/entity/channel/Channel.java
  core/src/main/java/discord4j/core/object/entity/channel/ThreadChannel.java
  core/src/main/java/discord4j/core/shard/GatewayBootstrap.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/EventNames.java
  gateway/src/main/java/discord4j/gateway/json/jackson/PayloadDeserializer.java
  gradle.properties
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/ChannelService.java
  rest/src/main/java/discord4j/rest/util/Permission.java
Labels: feature-request, area/core
