Repository Discord4J/Discord4J, pull requests merged in 2021-07, with the labels that each got.

#949 Add support for select menus
  core/src/main/java/discord4j/core/event/ReactiveEventAdapter.java
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/interaction/SelectMenuInteractEvent.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandInteraction.java
  core/src/main/java/discord4j/core/object/component/MessageComponent.java
  core/src/main/java/discord4j/core/object/component/SelectMenu.java
  core/src/test/java/discord4j/core/ExampleSelectMenu.java
  gradle.properties
Labels: area/core, enhancement

#951 Add MessageEditSpec#setComponents()
  core/src/main/java/discord4j/core/spec/MessageEditSpec.java
Labels: area/core, enhancement

#952 Add ComponentInteractEvent#getMessage()
  core/src/main/java/discord4j/core/event/domain/interaction/ComponentInteractEvent.java
Labels: area/core, area/interactions, enhancement

#953 Region value can be null
  core/src/main/java/discord4j/core/object/Region.java
Labels: area/core, bug

#799 Provide a new in-memory `StoreLayout` implementation
  common/src/main/java/discord4j/common/store/impl/EmptyPartialUser.java
  common/src/main/java/discord4j/common/store/impl/EmptyUser.java
  common/src/main/java/discord4j/common/store/impl/ImplUtils.java
  common/src/main/java/discord4j/common/store/impl/LocalStoreLayout.java
  common/src/main/java/discord4j/common/store/impl/NoOpMap.java
  common/src/main/java/discord4j/common/store/impl/StorageBackend.java
  common/src/main/java/discord4j/common/store/impl/StorageConfig.java
  common/src/main/java/discord4j/common/store/impl/WithUser.java
  common/src/main/java/discord4j/common/store/impl/package-info.java
  core/src/main/java/discord4j/core/shard/GatewayBootstrap.java
  core/src/test/java/discord4j/core/ExampleStore.java
Labels: enhancement, for team attention

#956 Add missing components field to new specs
  core/src/main/java/discord4j/core/spec/MessageCreateSpecGenerator.java
  core/src/main/java/discord4j/core/spec/MessageEditSpecGenerator.java
Labels: area/core, enhancement

#957 Add missing components field to WebhookExecuteSpec
  core/src/main/java/discord4j/core/spec/InteractionApplicationCommandCallbackSpecGenerator.java
  core/src/main/java/discord4j/core/spec/WebhookExecuteSpecGenerator.java
Labels: area/core, enhancement

#964 Deserialize interaction message on demand
  core/src/main/java/discord4j/core/event/domain/interaction/ComponentInteractEvent.java
  core/src/main/java/discord4j/core/object/command/Interaction.java
  gradle.properties
Labels: API change, area/core, area/interactions

#968 Added GUILD_JOIN_REQUEST_DELETE event to explicitly ignored events
  gateway/src/main/java/discord4j/gateway/json/dispatch/EventNames.java
  gateway/src/main/java/discord4j/gateway/json/jackson/PayloadDeserializer.java
Labels: area/gateway, enhancement, for backport

#970 fix channel type in text channel request builder
  core/src/main/java/discord4j/core/spec/TextChannelCreateSpecGenerator.java
Labels: area/core, bug

#959 Modify channel hierarchy in preparation for threads
  core/src/main/java/discord4j/core/object/entity/channel/BaseChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseTopLevelGuildMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/CategorizableChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/GuildChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/GuildMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/NewsChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/TextChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/TopLevelGuildChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/TopLevelGuildMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/VoiceChannel.java
Labels: area/core, deprecation

#973 Fix NPE occurring when creating a message via ImmutableSpec
  core/src/main/java/discord4j/core/object/entity/channel/BaseTopLevelGuildMessageChannel.java
Labels: area/core, bug

#971 Add ApplicationCommandOptionType#NUMBER, ApplicationCommandInteractionOptionValue#asDouble() and ApplicationCommandOptionChoice#asDouble()
  core/src/main/java/discord4j/core/object/command/ApplicationCommandInteractionOptionValue.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandOptionChoice.java
  rest/src/main/java/discord4j/rest/util/ApplicationCommandOptionType.java
Labels: area/core, area/interactions
