Repository Discord4J/Discord4J, pull requests merged in 2021-08, with the labels that each got.

#978 Fix ReactiveEventAdapter calling only the first hook when multiple ones are compatible
  core/src/main/java/discord4j/core/event/ReactiveEventAdapter.java
Labels: area/core, bug

#981 Fix interaction matching
  rest/src/main/java/discord4j/rest/interaction/Interactions.java
Labels: area/interactions, bug

#985 Fix SelectMenu#getPlaceholder return value
  core/src/main/java/discord4j/core/object/component/SelectMenu.java
Labels: bug, area/core, area/interactions

#986 Add 'Get Original Interaction Response' endpoint
  core/src/main/java/discord4j/core/event/domain/interaction/InteractionCreateEvent.java
  rest/src/main/java/discord4j/rest/interaction/InteractionOperations.java
  rest/src/main/java/discord4j/rest/interaction/InteractionResponse.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/WebhookService.java
Labels: area/rest, area/core, area/interactions

#988 Fix component interaction edit being sent as reply
  core/src/main/java/discord4j/core/event/domain/interaction/ComponentInteractEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/InteractionCreateEvent.java
  core/src/main/java/discord4j/core/spec/InteractionApplicationCommandCallbackSpecGenerator.java
Labels: bug, area/core, area/interactions

#980 Add ApplicationCommandInteraction::getResolved
  core/src/main/java/discord4j/core/object/command/ApplicationCommandInteraction.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandInteractionResolved.java
  core/src/main/java/discord4j/core/object/command/ResolvedChannel.java
  core/src/main/java/discord4j/core/object/command/ResolvedMember.java
Labels: feature-request, area/interactions

#982 Add PartialMember implementation for message mentions
  core/src/main/java/discord4j/core/object/entity/Member.java
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/object/entity/PartialMember.java
  core/src/main/java/discord4j/core/spec/BanQuerySpecGenerator.java
  core/src/main/java/discord4j/core/spec/GuildMemberEditSpecGenerator.java
Labels: feature-request, area/core
