Repository Discord4J/Discord4J, pull requests merged in 2021-02, with the labels that each got.

#841 Adds GET .../command/:id
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/ApplicationService.java
Labels: area/rest, enhancement

#839 Update GUILD_MEMBER_MODIFY Route doc
  rest/src/main/java/discord4j/rest/route/Routes.java
Labels: area/rest, documentation

#848 Add role and hierarchy comparison to RestMember similar to in Member
  rest/src/main/java/discord4j/rest/entity/RestMember.java
  rest/src/main/java/discord4j/rest/util/OrderUtil.java
Labels: area/rest, feature-request

#837 Move the max embed characters constant to the proper context
  core/src/main/java/discord4j/core/object/Embed.java
  core/src/main/java/discord4j/core/object/entity/Message.java
Labels: area/core, deprecation, enhancement, for team attention
