Repository Discord4J/Discord4J, pull requests merged in 2021-11, with the labels that each got.

#1026 Add methods for getting, editing, and deleting a message via webhook.
  core/src/main/java/discord4j/core/object/entity/Webhook.java
  core/src/main/java/discord4j/core/spec/WebhookMessageEditSpecGenerator.java
Labels: enhancement, area/core

#1037 Fix issue in AuditLogEntry::getChange
  core/src/main/java/discord4j/core/object/audit/AuditLogEntry.java
Labels: bug, area/core

#1036 Create SessionInvalidatedEvent
  core/src/main/java/discord4j/core/event/ReactiveEventAdapter.java
  core/src/main/java/discord4j/core/event/dispatch/LifecycleDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/Event.java
  core/src/main/java/discord4j/core/event/domain/lifecycle/SessionInvalidatedEvent.java
Labels: enhancement, area/gateway, area/core

#1033 Add support for application command auto complete
  core/src/main/java/discord4j/core/event/ReactiveEventAdapter.java
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/interaction/ApplicationCommandInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/AutoCompleteInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/ChatInputAutoCompleteEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/ComponentInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/DeferrableInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/InteractionCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/doc-files/InteractionCreateEvent.png
  core/src/main/java/discord4j/core/object/command/ApplicationCommandInteractionOption.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandOption.java
  core/src/main/java/discord4j/core/object/command/Interaction.java
  core/src/main/java/discord4j/core/spec/InteractionApplicationCommandCallbackSpecGenerator.java
  core/src/main/java/discord4j/core/spec/InteractionCallbackSpecGenerator.java
  core/src/main/java/discord4j/core/spec/InteractionFollowupCreateSpecGenerator.java
  core/src/main/java/discord4j/core/spec/InteractionReplyEditSpecGenerator.java
  core/src/test/java/discord4j/core/ExampleInteractions.java
  rest/src/main/java/discord4j/rest/util/InteractionResponseType.java
Labels: enhancement, area/core, API change, experimental, area/interactions

#1039 Fix performance issue when adding list elements to cached guilds
  common/src/main/java/discord4j/common/store/impl/LocalStoreLayout.java
  common/src/main/java/discord4j/common/store/impl/WrappedGuildData.java
Labels: bug, area/stores

#1040 [ci skip] Change use of Embeds in README
  .github/README_TEMPLATE.md
  README.md
Labels: documentation

#1041 Fix message id usage as user cache key
  common/src/main/java/discord4j/common/store/impl/LocalStoreLayout.java
Labels: bug, area/stores
