Repository Discord4J/Discord4J, pull requests merged in 2022-02, with the labels that each got.

#1059 Implement modal interaction support
  core/src/main/java/discord4j/core/event/ReactiveEventAdapter.java
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/interaction/ApplicationCommandInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/ButtonInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/ChatInputInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/ComponentInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/DeferrableInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/InteractionCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/MessageInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/ModalSubmitInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/SelectMenuInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/UserInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/interaction/doc-files/InteractionCreateEvent.png
  core/src/main/java/discord4j/core/object/command/ApplicationCommandInteraction.java
  core/src/main/java/discord4j/core/object/command/Interaction.java
  core/src/main/java/discord4j/core/object/component/MessageComponent.java
  core/src/main/java/discord4j/core/object/component/TextInput.java
  core/src/main/java/discord4j/core/spec/InteractionPresentModalSpecGenerator.java
  core/src/test/java/discord4j/core/ExampleInteractions.java
  rest/src/main/java/discord4j/rest/util/InteractionResponseType.java
Labels: enhancement, area/gateway, area/core, area/interactions

#1054 Add missing ChangeKey for AuditLog
  core/src/main/java/discord4j/core/object/audit/ChangeKey.java
  core/src/main/java/discord4j/core/object/entity/Sticker.java
Labels: enhancement, area/core

#1058 Adds TweetNaclFast and validation class to rest module for verifying …
  rest/src/main/java/com/iwebpp/crypto/TweetNaclFast.java
  rest/src/main/java/discord4j/rest/interaction/TweetNaclFastInteractionValidator.java
Labels: enhancement, area/rest, good first issue, area/interactions

#1018 Build with JDK 17
  .github/workflows/gradle.yml
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: task
