Repository Discord4J/Discord4J, pull requests merged in 2023-01, with the labels that each got.

#1113 Implement AuditLogEntryCreateEvent
  core/src/main/java/discord4j/core/event/ReactiveEventAdapter.java
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/AuditLogEntryCreateEvent.java
  core/src/main/java/discord4j/core/object/audit/AuditLogEntry.java
  gateway/src/main/java/discord4j/gateway/intent/Intent.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/EventNames.java
  gateway/src/main/java/discord4j/gateway/json/jackson/PayloadDeserializer.java
Labels: enhancement, area/gateway, area/core

#1093 Implement thread channel caching and accessor methods
  common/src/main/java/discord4j/common/store/Store.java
  common/src/main/java/discord4j/common/store/action/gateway/GatewayActions.java
  common/src/main/java/discord4j/common/store/action/gateway/ThreadCreateAction.java
  common/src/main/java/discord4j/common/store/action/gateway/ThreadDeleteAction.java
  common/src/main/java/discord4j/common/store/action/gateway/ThreadListSyncAction.java
  common/src/main/java/discord4j/common/store/action/gateway/ThreadMemberUpdateAction.java
  common/src/main/java/discord4j/common/store/action/gateway/ThreadMembersUpdateAction.java
  common/src/main/java/discord4j/common/store/action/gateway/ThreadUpdateAction.java
  common/src/main/java/discord4j/common/store/action/read/GetMembersInThreadAction.java
  common/src/main/java/discord4j/common/store/action/read/GetThreadMemberByIdAction.java
  common/src/main/java/discord4j/common/store/action/read/ReadActions.java
  common/src/main/java/discord4j/common/store/api/layout/DataAccessor.java
  common/src/main/java/discord4j/common/store/api/layout/GatewayDataUpdater.java
  common/src/main/java/discord4j/common/store/impl/LocalStoreLayout.java
  common/src/main/java/discord4j/common/store/legacy/LegacyStoreLayout.java
  common/src/main/java/discord4j/common/store/legacy/StateHolder.java
  core/src/main/java/discord4j/core/GatewayDiscordClient.java
  core/src/main/java/discord4j/core/event/ReactiveEventAdapter.java
  core/src/main/java/discord4j/core/event/domain/thread/ThreadChannelCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/thread/ThreadChannelDeleteEvent.java
  core/src/main/java/discord4j/core/event/domain/thread/ThreadChannelUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/thread/ThreadListSyncEvent.java
  core/src/main/java/discord4j/core/event/domain/thread/ThreadMemberUpdateEvent.java
  core/src/main/java/discord4j/core/event/domain/thread/ThreadMembersUpdateEvent.java
  core/src/main/java/discord4j/core/object/ThreadListPart.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/ThreadMember.java
  core/src/main/java/discord4j/core/object/entity/channel/ThreadChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/TopLevelGuildMessageChannel.java
  core/src/main/java/discord4j/core/retriever/EntityRetriever.java
  core/src/main/java/discord4j/core/retriever/FallbackEntityRetriever.java
  core/src/main/java/discord4j/core/retriever/RestEntityRetriever.java
  core/src/main/java/discord4j/core/retriever/StoreEntityRetriever.java
  core/src/test/java/discord4j/core/ExampleThread.java
  gateway/src/main/java/discord4j/gateway/state/DispatchStoreLayer.java
  rest/src/main/java/discord4j/rest/entity/RestChannel.java
  rest/src/main/java/discord4j/rest/entity/RestGuild.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/ChannelService.java
  rest/src/main/java/discord4j/rest/service/GuildService.java
Labels: feature-request

#1114 [ci skip] Fix Workflow status badge
  .github/README_TEMPLATE.md
  README.md
Labels: task

#1104 Add query with_localizations for ApplicationService
  rest/src/main/java/discord4j/rest/service/ApplicationService.java
Labels: enhancement, area/rest

#1105 Add ACTIVE_DEVELOPER User Flag
  core/src/main/java/discord4j/core/object/entity/User.java
Labels: enhancement, area/core

#1108 examples: replace deprecated createMessage
  core/src/test/java/discord4j/core/ExampleButtons.java
Labels: area/core

#1107 Update javadocs, and add missing Intents
  gateway/src/main/java/discord4j/gateway/intent/Intent.java
Labels: enhancement, area/gateway
