Repository Discord4J/Discord4J, pull requests merged in 2023-03, with the labels that each got.

#1074 Support for AutoMod Feature
  common/src/main/java/discord4j/common/store/action/read/GetAutoModRuleByIdAction.java
  common/src/main/java/discord4j/common/store/action/read/GetAutoModRulesInGuildAction.java
  common/src/main/java/discord4j/common/store/action/read/ReadActions.java
  core/src/main/java/discord4j/core/GatewayDiscordClient.java
  core/src/main/java/discord4j/core/event/ReactiveEventAdapter.java
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/automod/AutoModActionExecutedEvent.java
  core/src/main/java/discord4j/core/event/domain/automod/AutoModRuleCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/automod/AutoModRuleDeleteEvent.java
  core/src/main/java/discord4j/core/event/domain/automod/AutoModRuleEvent.java
  core/src/main/java/discord4j/core/event/domain/automod/AutoModRuleUpdateEvent.java
  core/src/main/java/discord4j/core/object/audit/ActionType.java
  core/src/main/java/discord4j/core/object/audit/AuditLogPart.java
  core/src/main/java/discord4j/core/object/automod/AutoModRule.java
  core/src/main/java/discord4j/core/object/automod/AutoModRuleAction.java
  core/src/main/java/discord4j/core/object/automod/AutoModRuleTriggerMetaData.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/retriever/EntityRetriever.java
  core/src/main/java/discord4j/core/retriever/FallbackEntityRetriever.java
  core/src/main/java/discord4j/core/retriever/RestEntityRetriever.java
  core/src/main/java/discord4j/core/retriever/StoreEntityRetriever.java
  core/src/main/java/discord4j/core/spec/AutoModRuleCreateSpecGenerator.java
  core/src/main/java/discord4j/core/spec/AutoModRuleEditSpecGenerator.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/EventNames.java
  gateway/src/main/java/discord4j/gateway/json/jackson/PayloadDeserializer.java
  rest/src/main/java/discord4j/rest/RestClient.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/AutoModService.java
Labels: feature-request, area/core

#1120 Fix insecure url docs in build.gradle
  build.gradle
Labels: task

#1121 Promote and standardize the creation of displayable strings for emoji
  core/src/main/java/discord4j/core/object/entity/GuildEmoji.java
  core/src/main/java/discord4j/core/object/reaction/ReactionEmoji.java
Labels: enhancement, area/core
