Repository Discord4J/Discord4J, pull requests merged in 2024-11, with the labels that each got.

#1282 feat: update old voice encryption modes (#1278)
  common/src/main/java/com/iwebpp/crypto/TweetNaclFast.java
  rest/src/main/java/discord4j/rest/interaction/TweetNaclFastInteractionValidator.java
  voice/build.gradle
  voice/src/main/java/discord4j/voice/DefaultVoiceGatewayClient.java
  voice/src/main/java/discord4j/voice/PacketTransformer.java
  voice/src/main/java/discord4j/voice/VoiceServerOptions.java
  voice/src/main/java/discord4j/voice/crypto/Aes256GcmEncryptionAdapter.java
  voice/src/main/java/discord4j/voice/crypto/EncryptionAdapter.java
  voice/src/main/java/discord4j/voice/crypto/EncryptionMode.java
  voice/src/main/java/discord4j/voice/crypto/Xchacha20Poly1305EncryptionAdapter.java
Labels: area/voice

#1256 Make optional all fields in AutoModRuleEditSpecGenerator
  core/src/main/java/discord4j/core/object/automod/AutoModRule.java
  core/src/main/java/discord4j/core/spec/AutoModRuleEditSpecGenerator.java
Labels: area/core, API change

#1266 Support for Recurrence Rule in ScheduledEvent
  core/src/main/java/discord4j/core/object/RecurrenceRule.java
  core/src/main/java/discord4j/core/object/entity/ScheduledEvent.java
  core/src/main/java/discord4j/core/spec/RecurrenceRuleNWeekdaySpecGenerator.java
  core/src/main/java/discord4j/core/spec/RecurrenceRuleSpecGenerator.java
  core/src/main/java/discord4j/core/spec/ScheduledEventCreateSpecGenerator.java
  core/src/main/java/discord4j/core/spec/ScheduledEventEditSpecGenerator.java
  core/src/test/java/discord4j/core/ExampleGuildScheduledEvents.java
Labels: area/core, PR depends on PR

#1285 Add support for linked role mention
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/Role.java
Labels: area/core

#1272 Support for stickers and flags in Message/Webhook create request
  core/src/main/java/discord4j/core/spec/MessageCreateSpecGenerator.java
  core/src/main/java/discord4j/core/spec/WebhookExecuteSpecGenerator.java
Labels: area/core, PR depends on PR

#1284 Support for add poll in InteractionReplyEditSpec
  core/src/main/java/discord4j/core/spec/InteractionReplyEditSpecGenerator.java
Labels: area/core

#1290 Support for Guild Member Banner
  common/src/main/java/discord4j/common/store/legacy/LegacyStoreLayout.java
  core/src/main/java/discord4j/core/event/dispatch/GuildDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/guild/MemberUpdateEvent.java
  core/src/main/java/discord4j/core/object/entity/PartialMember.java
Labels: PR depends on PR

#1283 Support for Message Forward
  core/src/main/java/discord4j/core/object/MessageReference.java
  core/src/main/java/discord4j/core/object/MessageSnapshot.java
  core/src/main/java/discord4j/core/object/PartialMessage.java
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/spec/MessageCreateSpecGenerator.java
  core/src/test/java/discord4j/core/ExampleForwardMessage.java
Labels: area/core, behavior change, area/common
