Repository Discord4J/Discord4J, pull requests merged in 2024-05, with the labels that each got.

#1164 Edit Current Application
  core/src/main/java/discord4j/core/object/entity/ApplicationInfo.java
  core/src/main/java/discord4j/core/spec/ApplicationEditSpecGenerator.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/ApplicationService.java
Labels: area/rest, area/core

#1210 Add ThreadChannelCreateEvent#NewlyCreated
  core/src/main/java/discord4j/core/event/dispatch/ThreadDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/thread/ThreadChannelCreateEvent.java
Labels: area/core

#1207 feat(): replaced the Guild#getFeatures List<String> by an EnumSet<Fea…
  core/src/main/java/discord4j/core/object/entity/Guild.java
Labels: enhancement, area/core, deprecation

#1209 Add ActionType for Threads/Application/Monetization AuditLog Events
  core/src/main/java/discord4j/core/object/audit/ActionType.java
Labels: area/core

#1219 refactor: adjusted naming of NITRO_STICKER_PACKS_GET
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/StickerService.java
Labels: area/rest, deprecation

#1213 Add ActionType for Onboarding and Guide
  core/src/main/java/discord4j/core/object/audit/ActionType.java
Labels: area/core
