Repository Discord4J/Discord4J, pull requests merged in 2024-06, with the labels that each got.

#1224 Add news Message.Type for INCIDENT/PURCHASE and include if are deletable
  core/src/main/java/discord4j/core/object/entity/Message.java
Labels: enhancement, area/core

#1221 Include AutoMod for Member Profile actions
  core/src/main/java/discord4j/core/object/automod/AutoModRule.java
  core/src/main/java/discord4j/core/object/automod/AutoModRuleAction.java
Labels: enhancement, area/core

#1226 feat: add shortcut methods for ChatInputInteractionEvent to get option values
  core/src/main/java/discord4j/core/event/domain/interaction/ChatInputInteractionEvent.java
Labels: enhancement, area/core

#1204 Support more Java LTS in GitHub Actions
  .github/workflows/gradle.yml
  build.gradle
  common/build.gradle
  core/build.gradle
  gateway/build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  oauth2/build.gradle
  rest/build.gradle
  settings.gradle
  voice/build.gradle
Labels: enhancement

#1233 Add Permission#USE_EXTERNAL_APPS
  rest/src/main/java/discord4j/rest/util/Permission.java
Labels: enhancement, area/rest
