Repository Discord4J/Discord4J, pull requests merged in 2024-08, with the labels that each got.

#1257 Support for get Voice State using REST
  core/src/main/java/discord4j/core/GatewayDiscordClient.java
  core/src/main/java/discord4j/core/object/entity/PartialMember.java
  core/src/main/java/discord4j/core/retriever/EntityRetriever.java
  core/src/main/java/discord4j/core/retriever/FallbackEntityRetriever.java
  core/src/main/java/discord4j/core/retriever/RestEntityRetriever.java
  core/src/main/java/discord4j/core/retriever/StoreEntityRetriever.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/GuildService.java
Labels: area/rest

#1259 Support for get StickerPack by ID
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/StickerService.java
Labels: area/rest

#1265 Support for get role from Guild using REST
  core/src/main/java/discord4j/core/retriever/RestEntityRetriever.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/GuildService.java
Labels: area/rest, area/core

#1271 fix: ConcurrentModification for WrappedGuildData#unwrap in store
  common/src/main/java/discord4j/common/store/impl/WrappedGuildData.java
Labels: bug, area/stores
