Repository Discord4J/Discord4J, pull requests merged in 2024-07, with the labels that each got.

#1215 Migrate to discord-json encoding 1.6.20
  build.gradle
  core/build.gradle
  core/src/main/java/discord4j/core/spec/SpecStyle.java
  core/src/main/java/discord4j/core/spec/package-info.java
  gradle.properties
Labels: enhancement, PR depends on PR

#1183 feat: added support for user-installed applications
  core/src/main/java/discord4j/core/object/command/ApplicationCommand.java
  core/src/main/java/discord4j/core/object/command/ApplicationCommandContexts.java
  core/src/main/java/discord4j/core/object/command/ApplicationIntegrationType.java
  core/src/main/java/discord4j/core/object/command/Interaction.java
Labels: area/core

#1237 fix: split PositionModifyRequest to ChannelPositionModifyRequest and RolePositionModifyRequest
  rest/src/main/java/discord4j/rest/entity/RestGuild.java
  rest/src/main/java/discord4j/rest/entity/RestRole.java
  rest/src/main/java/discord4j/rest/service/GuildService.java
Labels: area/core, PR depends on PR, API change

#1236 feat: add missing fields in ApplicationInfo (#1190)
  core/src/main/java/discord4j/core/object/ApplicationInstallParams.java
  core/src/main/java/discord4j/core/object/ApplicationIntegrationTypeConfiguration.java
  core/src/main/java/discord4j/core/object/ApplicationTeamMember.java
  core/src/main/java/discord4j/core/object/entity/ApplicationInfo.java
  core/src/test/java/discord4j/core/ExampleVoice.java
  core/src/test/java/discord4j/core/support/VoiceSupport.java
Labels: enhancement, area/core, PR depends on PR, API change, deprecation

#1225 feat: improvements on threads and forums
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/object/entity/channel/ForumChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/NewsChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/TextChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/ThreadChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/TopLevelGuildMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/TopLevelGuildMessageWithThreadsChannel.java
  core/src/main/java/discord4j/core/spec/StartThreadFromMessageSpecGenerator.java
  core/src/main/java/discord4j/core/spec/StartThreadWithoutMessageSpecGenerator.java
  core/src/main/java/discord4j/core/spec/ThreadChannelEditSpecGenerator.java
  core/src/test/java/discord4j/core/ExampleThread.java
  rest/src/main/java/discord4j/rest/entity/RestChannel.java
  rest/src/main/java/discord4j/rest/service/ChannelService.java
  rest/src/main/java/discord4j/rest/util/PaginationUtil.java
Labels: enhancement, API change, area/common

#1222 Add support for polls
  core/src/main/java/discord4j/core/event/ReactiveEventAdapter.java
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/dispatch/PollDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/Event.java
  core/src/main/java/discord4j/core/event/domain/poll/PollVoteAddEvent.java
  core/src/main/java/discord4j/core/event/domain/poll/PollVoteEvent.java
  core/src/main/java/discord4j/core/event/domain/poll/PollVoteRemoveEvent.java
  core/src/main/java/discord4j/core/object/entity/Message.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseGuildMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/BaseTopLevelGuildMessageChannel.java
  core/src/main/java/discord4j/core/object/entity/channel/MessageChannel.java
  core/src/main/java/discord4j/core/object/entity/poll/Poll.java
  core/src/main/java/discord4j/core/object/entity/poll/PollAnswer.java
  core/src/main/java/discord4j/core/object/entity/poll/PollAnswerCount.java
  core/src/main/java/discord4j/core/object/entity/poll/PollQuestion.java
  core/src/main/java/discord4j/core/object/entity/poll/PollResult.java
  core/src/main/java/discord4j/core/spec/InternalSpecUtils.java
  core/src/main/java/discord4j/core/spec/MessageCreateSpecGenerator.java
  core/src/main/java/discord4j/core/spec/PollCreateSpecGenerator.java
  core/src/main/java/discord4j/core/spec/PollVotersRequestSpecGenerator.java
  core/src/test/java/discord4j/core/ExamplePollCreation.java
  gateway/src/main/java/discord4j/gateway/intent/Intent.java
  gateway/src/main/java/discord4j/gateway/json/dispatch/EventNames.java
  gateway/src/main/java/discord4j/gateway/json/jackson/PayloadDeserializer.java
  rest/src/main/java/discord4j/rest/RestClient.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/PollService.java
  rest/src/main/java/discord4j/rest/util/Permission.java
Labels: PR depends on PR, area/common

#1214 Add burst/type fields for MessageReaction events
  core/src/main/java/discord4j/core/event/dispatch/MessageDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/message/ReactionAddEvent.java
  core/src/main/java/discord4j/core/event/domain/message/ReactionRemoveEvent.java
  core/src/main/java/discord4j/core/object/reaction/Reaction.java
Labels: area/core, PR depends on PR

#1212 Implement Bulk Ban to Guild
  core/src/main/java/discord4j/core/object/BulkBan.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/spec/BulkBanSpecGenerator.java
  rest/src/main/java/discord4j/rest/entity/RestGuild.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/GuildService.java
  rest/src/test/java/discord4j/rest/service/GuildServiceTest.java
Labels: area/rest, area/core, PR depends on PR

#1244 Fix ReactionEmoji.Custom name can be null
  core/src/main/java/discord4j/core/object/reaction/ReactionEmoji.java
Labels: bug, area/core

#1232 feat: add support for "thread_name" and "thread_id" in webhook execution, get message, edit message and delete message
  core/src/main/java/discord4j/core/object/entity/Webhook.java
  core/src/main/java/discord4j/core/spec/WebhookExecuteSpecGenerator.java
  core/src/main/java/discord4j/core/spec/WebhookMessageEditSpecGenerator.java
  core/src/main/java/discord4j/core/spec/legacy/LegacyWebhookExecuteSpec.java
  core/src/test/java/discord4j/core/ExampleWebhook.java
  rest/src/main/java/discord4j/rest/service/WebhookService.java
Labels: enhancement, area/core

#1235 feat: Add support for the `enforce_nonce` parameter on message creation
  core/src/main/java/discord4j/core/spec/MessageCreateSpecGenerator.java
  core/src/main/java/discord4j/core/spec/legacy/LegacyMessageCreateSpec.java
Labels: enhancement, area/core

#1227 feat: upgrade api version to v10
  core/src/main/java/discord4j/core/event/domain/automod/AutoModActionExecutedEvent.java
  rest/src/main/java/discord4j/rest/route/Routes.java
Labels: area/rest, area/core, behavior change

#1184 feat: add support for monetization endpoints, skus and entitlements
  core/src/main/java/discord4j/core/GatewayDiscordClient.java
  core/src/main/java/discord4j/core/event/ReactiveEventAdapter.java
  core/src/main/java/discord4j/core/event/dispatch/DispatchHandlers.java
  core/src/main/java/discord4j/core/event/dispatch/MonetizationDispatchHandlers.java
  core/src/main/java/discord4j/core/event/domain/Event.java
  core/src/main/java/discord4j/core/event/domain/interaction/DeferrableInteractionEvent.java
  core/src/main/java/discord4j/core/event/domain/monetization/EntitlementCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/monetization/EntitlementDeleteEvent.java
  core/src/main/java/discord4j/core/event/domain/monetization/EntitlementUpdateEvent.java
  core/src/main/java/discord4j/core/object/command/Interaction.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/User.java
  core/src/main/java/discord4j/core/object/monetization/Entitlement.java
  core/src/main/java/discord4j/core/object/monetization/SKU.java
  core/src/main/java/discord4j/core/spec/CreateTestEntitlementSpecGenerator.java
  core/src/main/java/discord4j/core/spec/EntitlementListRequestSpecGenerator.java
  rest/src/main/java/discord4j/rest/RestClient.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/MonetizationService.java
  rest/src/main/java/discord4j/rest/util/InteractionResponseType.java
Labels: area/core

#1248 fix: fix application info optional fields
  core/src/main/java/discord4j/core/object/entity/ApplicationInfo.java
Labels: bug, PR depends on PR

#1231 feat: add onboarding support
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/channel/MessageChannel.java
  core/src/main/java/discord4j/core/object/onboarding/Onboarding.java
  core/src/main/java/discord4j/core/object/onboarding/OnboardingPrompt.java
  core/src/main/java/discord4j/core/object/onboarding/OnboardingPromptOption.java
  core/src/main/java/discord4j/core/spec/OnboardingEditSpecGenerator.java
  rest/src/main/java/discord4j/rest/entity/RestGuild.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/GuildService.java
Labels: area/core

#1240 feat: add support for the new premium button style
  core/src/main/java/discord4j/core/event/domain/interaction/DeferrableInteractionEvent.java
  core/src/main/java/discord4j/core/object/component/Button.java
  core/src/main/java/discord4j/core/object/entity/ApplicationInfo.java
  core/src/main/java/discord4j/core/object/monetization/SKU.java
  rest/src/main/java/discord4j/rest/util/InteractionResponseType.java
Labels: enhancement, area/core, API change

#1247 Fix return of Channel Position in REST and allow reason for Role Posi…
  core/src/main/java/discord4j/core/object/entity/Role.java
  rest/src/main/java/discord4j/rest/entity/RestGuild.java
  rest/src/main/java/discord4j/rest/entity/RestRole.java
  rest/src/main/java/discord4j/rest/service/GuildService.java
Labels: bug, API change, behavior change

#1238 feat: add support for Application Role Connection Metadata
  core/src/main/java/discord4j/core/object/ApplicationRoleConnectionMetadata.java
  core/src/main/java/discord4j/core/object/RoleTags.java
  core/src/main/java/discord4j/core/object/entity/ApplicationInfo.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/ApplicationService.java
Labels: area/core
