Repository Discord4J/Discord4J, pull requests merged in 2025-05, with the labels that each got.

#1303 fix: bad bounded type parameters in Container and Section
  core/src/main/java/discord4j/core/object/component/Container.java
  core/src/main/java/discord4j/core/object/component/Section.java
  core/src/test/java/discord4j/core/ExampleComponentsV2.java
Labels: area/interactions

#1304 fix: allow components v2 in Webhook edit
  core/src/main/java/discord4j/core/object/entity/Webhook.java
  core/src/main/java/discord4j/core/spec/InteractionReplyEditSpecGenerator.java
  gradle.properties
  rest/src/main/java/discord4j/rest/service/WebhookService.java
Labels: bug, discord, area/rest, area/core

#1305 feat: make Create/Edit Message Spec include the CV2 flag if can
  core/src/main/java/discord4j/core/spec/InteractionApplicationCommandCallbackSpecGenerator.java
  core/src/main/java/discord4j/core/spec/InteractionFollowupCreateSpecGenerator.java
  core/src/main/java/discord4j/core/spec/InteractionReplyEditSpecGenerator.java
  core/src/main/java/discord4j/core/spec/InternalMessageSpecUtils.java
  core/src/main/java/discord4j/core/spec/MessageCreateSpecGenerator.java
  core/src/main/java/discord4j/core/spec/MessageEditSpecGenerator.java
  rest/src/main/java/discord4j/rest/entity/RestChannel.java
Labels: area/core
