Repository Discord4J/Discord4J, pull requests merged in 2025-04, with the labels that each got.

#1297 fix: fix an issue with separator spacing size, and add more clarity
  core/src/main/java/discord4j/core/object/component/Separator.java
Labels: bug, area/interactions

#1288 Support for Subscriptions
  core/src/main/java/discord4j/core/GatewayDiscordClient.java
  core/src/main/java/discord4j/core/event/ReactiveEventAdapter.java
  core/src/main/java/discord4j/core/event/domain/Event.java
  core/src/main/java/discord4j/core/event/domain/monetization/SubscriptionCreateEvent.java
  core/src/main/java/discord4j/core/event/domain/monetization/SubscriptionDeleteEvent.java
  core/src/main/java/discord4j/core/event/domain/monetization/SubscriptionUpdateEvent.java
  core/src/main/java/discord4j/core/object/monetization/Entitlement.java
  core/src/main/java/discord4j/core/object/monetization/SKU.java
  core/src/main/java/discord4j/core/object/monetization/Subscription.java
  core/src/main/java/discord4j/core/spec/SubscriptionListRequestSpecGenerator.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/MonetizationService.java
Labels: area/rest, area/core, API change

#1289 Add SoundboardSound Support
  core/src/main/java/discord4j/core/GatewayDiscordClient.java
  core/src/main/java/discord4j/core/object/SoundboardSound.java
  core/src/main/java/discord4j/core/object/entity/Guild.java
  core/src/main/java/discord4j/core/object/entity/channel/VoiceChannel.java
  core/src/main/java/discord4j/core/spec/SoundboardSoundCreateSpecGenerator.java
  core/src/main/java/discord4j/core/spec/SoundboardSoundEditSpecGenerator.java
  core/src/test/java/discord4j/core/ExampleSoundboardAudioPlayer.java
  gateway/src/main/java/discord4j/gateway/json/GatewayPayload.java
  rest/src/main/java/discord4j/rest/RestClient.java
  rest/src/main/java/discord4j/rest/route/Routes.java
  rest/src/main/java/discord4j/rest/service/SoundboardService.java
Labels: area/core

#1301 Feat: Add missing ThreadChannel#getAppliedTags method
  core/src/main/java/discord4j/core/object/entity/channel/ThreadChannel.java
Labels: enhancement, area/core
